/* base do projeto */
:root{
    --cor1: #ffffff;
    --cor2: #808080;
    --preto: #000000;
    --azulqnemaisazul: #303030;
}
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../img/background10.jpg");
    background-size: cover;
    font-family: 'Baloo Tammudu 2', cursive;
}

/* textos */

h1{
    color: var(--cor1);
    font-size: 28px;
    line-height:0;
    padding: -50;
    margin-bottom: -5;
}

p {
    color: var(--cor1);
    font-size: 13px;
}
.title{
    color: var(--azulqnemaisazul);
    font-size: 25;
    padding: -50;
    margin-bottom: 0;
    line-height: 0;
}

.descrição{
    color: var(--preto);
    font-size: 13px;
    line-height: 1;
    margin-top: 0;
}
/* container e conteúdos */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100hv;
}
.content{
    border-radius: 15px;
    background-color: var(--cor1);
    width: 70%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: var(--azulqnemaisazul) 1px 1px 3px;
    margin: 70px;
}
.content::before{
    content: "";
    position: absolute;
    background-color: var(--azulqnemaisazul);
    width: 44%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left:0%;
}
.conteúdo1{
    display: flex;
}
.conteúdo2{
    display: flex;
    position:absolute;
}
.coluna1{
    text-align: center;
    width: 44%;
    z-index: 150;
}

.coluna2 {
    text-align: center;
    width: 56%;
    align-content: center;
    margin-top: 50;
    margin-bottom: 40;
}

/* redes sociais */

.socialmedia {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    width:80%;
    list-style-type: none;
    margin: 1rem 0;
}

.listsocialmedia {
    border: 1px solid var(--azulqnemaisazul);
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-left:10px;
    color: var(--azulqnemaisazul);
    text-align: center;
    line-height: -35px;
    align-items: center;
    transition: 0.8s;
}

.linksm:hover .listsocialmedia{
    background-color: var(--azulqnemaisazul);
    color: var(--cor1);
    border-top-left-radius: 15px;
}
.linksm:not(:first-child){
    margin-left: 4px;
}
.icon1{
    align-items: center;
    margin-top: 7;
}
.icon2{
    align-items: center;
    margin-top: 7.5;
}
.icon3{
    align-items: center;
    margin-top: 2;
}
/* inputs */
.informações {
    display:flex;
    flex-direction:column;
}
.preenchimentoinfo > input {
    height: 35px;
    border: none;
    background-color: var(--cor1);
    width: 100%; 
    font-size: 10px;
}
.preenchimentoinfo label{
    background-color: var(--cor1);
    align-items: center;
    display: inline-flex;
    margin: 4px;
    width: 56%;
}
.icon-modify{
    color:#7f8c8d;
    padding: 0 10px;
    align-content: center;
    align-items: center;  
}
/* botões */
.preenchimento > button {
   border-radius: 15px;
   font-size:11px;
   font-weight: bold;
   text-transform: uppercase;
   color: var(--cor1);
   padding: 5px 19px;
   background-color: transparent;
   cursor:pointer;
   border: 1px solid var(--cor1);
    transition: 0.8s;
}
.preenchimento > button:hover {
    background-color: var(--cor1);
    color: var(--azulqnemaisazul);
    cursor: pointer;
}
.preenchimento2 > button {
    border-radius: 15px;
    font-size:10px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--azulqnemaisazul);
    padding: 5px 19px;
    background-color: transparent;
    align-self: center;
    border: 1px solid var(--azulqnemaisazul);
    cursor: pointer;
     transition: 0.8s;
 } 
 .preenchimento2 > button:hover {
     background-color: var(--azulqnemaisazul);
     color: var(--cor1);
     cursor: pointer;
 }
 /* checkbox mostrar e ocultar senha*/
 .checkbox{
     display: inline-block;
     cursor: pointer;
 }
 .checkbox .checkbox-wrapper{
    display: inline-block;
    margin-top: -40;
    width: 21px;
    height: 6px;
}
.checkbox .checkbox-wrapper .checkbox-button{
    position: relative;
    display: flex;
    margin-top: -2;
}
.checkbox .checkbox-wrapper input{
    opacity: 0;
}
.checkbox .checkbox-wrapper input:checked + .checkbox-button{
    background-image: url(f06e);
}
.fa-eye-slash{
    align-items: center;
    font-size: 10px;
    color: rgb(140, 140, 140);
}
/* checkbox lembrar senha */
.containerswitch{
    margin: 0;
    font-family: 'Baloo Tammudu 2', cursive;
}