@import url('https://fonts.googleapis.com/css2?family= Montserrat :wght@100;200 & display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --cor1: #ffffff;
    --cor2: #808080;
    --preto: #000000;
    --azulqnemaisazul: #303030; 
}
/*geral*/
    .bodyimo{
        background: linear-gradient(to top, var(--preto), var(--azulqnemaisazul));
        color: var(--cor1);
        font-family: 'Montserrat', sans-serif;
    }
/*pagina de Produtos*/
.container2{
    width: 100%;
    height: 100vh;
    padding: 0%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
nav ul{
    display: flex;
    gap: 45px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color: var(--cor1);
    text-decoration: none;
    position: relative;
    transition: 0.8s;
    font-size: 15px;
}
nav ul li a:hover{
    color: var(--cor2); 
}
.imglogo{
    height: 100px;
    width: 100px;
    color: var(--cor1);
    transition: 1.1s;
}
.imglogo:hover{
    transform: scale(1.1);
    filter: invert(70%);
}
nav .icon-modify {
    color:var(--cor1);
    scale: 2.0;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1.1s;
}
nav .icon-modify:hover {
    color: var(--azulqnemaisazul);
    transform: scale(1.1);
}
nav .resolvendobuga{
    width: min-content;
}
/*Animação navbar*/
nav ul li a::after{
    content: '';
    width: 0;
    height: 1px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--cor1);
    transition: width 0.8s;
}
nav ul li a:hover::after{
    width: 70%;
}
/*section imoveis*/
.Imoveis{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

#root{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}
/*Filtro de produtos*/
.Imoveis .filtro{
    width: 300px;
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 10px;
}
fieldset{
    border-radius: 20px;
    border: solid 0px var(--cor1);
    margin-left: 2.5%;
}
legend{
    text-align: center;
    font-family: 'Baloo Tammudu 2', cursive;
    position: relative;
    color: var(--cor1);
    font-size: 30px;
}
legend::after{
    content: '';
    width: 80%;
    height: 3px;
    bottom: -2px;
    position: absolute;
    left: 10%;
    background-color: var(--azulqnemaisazul);
}
.switch{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.switch .switch-texto{
    padding-right: 0.3rem;
    font-size: 0.8rem;
}
.switch .switch-wrap{
    display: inline-block;
    width: 50px;
    height: 28px;
    position: relative;
}
.switch .switch-wrap .botaocheckbox{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    background-color: var(--azulqnemaisazul);
}
.switch .switch-wrap input{
    opacity: 0;
    z-index: 1;
    width: 320px;
    height: 30px;
    position: absolute;
    right: -10px;
    cursor: pointer;
}
.switch .switch-wrap .botaocheckbox::before{
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    left: 4px;
    bottom: 3px;
    border-radius: 50%;
    transition: .4s all ease;
    background-color: aliceblue;
}
.switch .switch-wrap input:focus + span {
    background-color: var(--cor2);
}
.switch .switch-wrap input:focus + .botaocheckbox::before{
    transform: translateX(20px);
}
/*imoveisavenda*/
.card{
    width: 300px;
    height: 400px;
    position: relative;
    display: flex;
    box-shadow: 0px 70x 10x var(--preto);
    transition: 0.9s ease-in-out;
    border-radius: 0px 40px;
    flex-direction: column-reverse; 
}
.card:hover{
    transform: scale(1.02);
    transform: translateY(-10px);
}
.card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0px 40px;
    background-image: linear-gradient(50deg,rgba(64, 63, 63, 0.681),rgba(48, 48, 48, 0.681));
    z-index: 2;
    transition: 0.9s all;
    opacity: 0;
}
.card:hover:before{
    opacity: 1;
}
#imgbackcard{   
    width: 100%;
    height: 100%;
    border-radius: 0px 40px;
    filter: none;
    position: absolute;
    top: 0;
    left: 0;
}
.card:hover img{
    filter: blur(5px);
}
.imoveldesc{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0% 2%;
    border-radius: 0px 0px 0px 40px;
    background-color: rgba(255, 245, 245, 0.201);
    backdrop-filter: blur(5px); /* Aplica o efeito de desfoque */
    color: #000000;
    height: 25%;
    transition: 0.9s all;
}
.card .divimg{
    display: flex;
}
.imgacessibilidades{
    z-index: unset;
    height: 35px !important;
    width: 35px !important;
}
.card:hover .imoveldesc{
    opacity: 0;
}
.cardtxt{
    font-size:xx-small;
    text-align: end;
}
.card:hover .info{
    opacity: 1;
}
.card .info{
    position: relative; 
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.9s all;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card .info h1{
    color: var(--cor1);
    font-size: 28px;
    font-family: 'Baloo Tammudu 2', cursive;
}
.card .info .descricoes{
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}
.card .info .descricoes .uncdesc{
    display: flex;
    align-items: center !important;
    gap: 18px;
}
.card .info .descricoes .uncdesc i{
    scale: 2.1;
}
#centraliza{
    justify-content: center;
}
/*Quando precisar desabilitar um andar ou link*/
.desabilitado{
    color: var(--cor2);
}
.desabilitado + p{
    text-decoration: line-through;
    color: var(--cor2);
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    padding-bottom: 50px;
    height: 150px;
    flex-direction: row;
}
footer svg{
    width: 100vh;
    flex: 1;
}
footer a{
    text-decoration: none;
    color: var(--cor2);
}
footer ul{
    list-style: none;
}
footer ul .fab{
    transform: scale(1.7);
    object-fit: contain;    
    color:var(--cor2);
    padding: 10px;
    align-content: center;
    align-items: center;    
    transition: 0.8s;
}
footer ul .fab:hover{
    color: #fff;
}
footer ul li{
    margin: 15px;
    color: var(--cor2);
}
.CONTATO{
    display: flex;
    justify-content: center;
}
.direitos{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.direitos p {
    text-align: center;
    color: var(--cor2);
}
.direitos::before{
    content: '';
    width: 100%;
    height: 2px;
    top: 0;
    position: absolute;
    background-color: var(--azulqnemaisazul);
}
.svgbugado{
    bottom: -15px;
    position: relative;
}
/*index css*/

.index header{
    background-image: url("../img/MicrosoftTeams-image.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
}

.index table{
    width: 100%;
    height: 300px;
    padding: 2cm 15%;
}

.index .barra{
    border: #716969 solid 2px;
    width: 0px;
    height: 350px;
}

.index .titulo h2{
    font-size: 700%;
    text-align: left;
    padding-right: 1cm;
}

.index .titulo h3{
    font-size: 500%;
    max-width: 200px;
    background-color: #fff;
    border-radius: 60px;
    color: #000;
    text-align: center;
    margin-left: 40%;
}

.index .texto p {
    text-align: justify;
    padding: 1cm;
    font-size: 200%;
}

/**/

   /* base do projeto */
   :root{
    --cor1: #ffffff;
    --cor2: #808080;
    --preto: #000000;
    --azulqnemaisazul: #303030; 
    --brancobranco: #fff;
}
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sign-in-js{
    background-image: url("../img/background10.jpg");
    background-size: cover;
    font-family: 'Baloo Tammudu 2', cursive;
}

/* textos */
.sign-in-js h1{
    color: var(--cor1);
    font-size: 28px;
    line-height:0;
    padding: -50;
    margin-bottom: -5;
}
.sign-in-js p {
    color: var(--cor1);
    font-size: 13px;
}
.sign-in-js .title{
    color: var(--preto);
    font-size: 25;
    padding: -50;
    margin-bottom: 0;
    line-height: 0;
    margin: 15px 0px;
}
.sign-in-js .descrição{
    color: var(--preto);
    font-size: 13px;
    line-height: 1;
    margin-top: 0;
}

/* container e conteúdos */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100hv;
}
.content{
    border-radius: 15px;
    background-color: var(--cor1);
    width: 70%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: var(--azulqnemaisazul) 1px 1px 3px;
    margin: 70px;
}
.content::before{
    content: "";
    position: absolute;
    background-color: var(--azulqnemaisazul);
    width: 44%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left:0%;
}
.conteúdo1{
    display: flex;
}
.conteúdo2{
    display: flex;
    position:absolute;
}
.conteúdo1 .coluna2{
    z-index: 110;
}
.conteúdo2 .coluna1{
    order: 2;
    z-index:-1;
}
.conteúdo2 .coluna2 {
    order: 1;
    z-index: -1;
}
.coluna1{
    text-align: center;
    width: 44%;
    z-index: 100;
}
.coluna2 {
    text-align: center;
    width: 56%;
    align-content: center;
    margin-top: 50;
    margin-bottom: 40;
}
/* inputs */
.informações {
    display:flex;
    flex-direction:column;
}
.preenchimentoinfo{
    padding: 0px 0px;
}
.preenchimentoinfo > input {
    height: 35px;
    border: none;
    background-color: var(--cor1);
    width: 100%; 
    font-size: 10px;
}
.preenchimentoinfo label{
    background-color: var(--cor1);
    align-items: center;
    display: inline-flex;
    margin: 4px;
    width: 56%;
}
.icon-modify{
    color:var(--cor2);
    padding: 0 10px;
    align-content: center;
    align-items: center;    
}

/* botões */
button {
   border-radius: 15px;
   font-size:11px;
   font-weight: bold;
   text-transform: uppercase;
   color: var(--cor1);
   padding: 5px 19px;
   background-color: transparent;
   cursor:pointer;
   border: 1px solid var(--cor1);
   transition: 0.8s;   
}
button:hover {
    background-color: var(--cor1);
    color:var(--azulqnemaisazul);
    cursor: pointer;
}

.preenchimento2 > button {
    border-radius: 15px;
    font-size:10px;
    font-weight: bold;
    text-transform: uppercase;
    color:var(--azulqnemaisazul);
    padding: 5px 19px;
    background-color: transparent;
    align-self: center;
    border: 1px solid var(--azulqnemaisazul);
    cursor: pointer;
}
 .preenchimento2 > button:hover {
     background-color: var(--azulqnemaisazul);
     color: var(--cor1);
     transition: 0.8s;
     cursor: pointer;
 }
