@import url('https://fonts.googleapis.com/css2?family= Montserrat :wght@100;200 & display=swap');
:root{
    --cor1: #ffffff;
    --cor2: #808080;
    --preto: #000000;
    --azulqnemaisazul: #303030; 
    --brancobranco: #fff;
}
/*geral*/
    body{
        background-color: var(--preto);
        color: var(--cor1);
        font-family: 'Montserrat', sans-serif;
    }
/*pagina de Produtos*/
.container2{
    width: 100%;
    height: 100vh;
    padding: 0%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
nav ul{
    display: flex;
    gap: 45px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color: var(--cor1);
    text-decoration: none;
    position: relative;
}
.imglogo{
    height: 80px;
    width: 80px;
}
.icone-login{
    color:var(--azulqnemaisazul);
    align-content: center;
    align-items: center;  
    width: 50px;
    height: 50;
}
.resolvendobuga{
    width: min-content;
}
/*Animação navbar*/
nav ul li a::after{
    content: '';
    width: 0;
    height: 1px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--cor1);
    transition: width 0.3s;
}
nav ul li a:hover::after{
    width: 70%;
}
/*section imoveis*/
.Imoveis{
    width: 100%;
    display: flex;
    gap: 50px;
}
/*Filtro de produtos*/
.Imoveis .filtro{
    width: 300px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    padding: 15px 10px;
}
fieldset{
    border-radius: 20px;
    border: solid 2px var(--cor1);
}
legend{
    font-size: x-large;
    text-align: center;
    position: relative;
}
legend::after{
    content: '';
    width: 80%;
    height: 3px;
    bottom: -3px;
    position: absolute;
    left: 10%;
    background-color: var(--azulqnemaisazul);
}

/*imoveisavenda*/
.imoveisavenda{
    height: 300px;
    width: 250px;
    background-image: url('../img/paisagem-analogica-da-cidade-com-edificios.jpg');
    background-size: cover;
    border-radius: 0px 40px;
    display: flex;
    flex-direction: column-reverse;
}
.imgacessibilidades{
    height: 50px;
    width: 50px;
}
.imoveldesc{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0px 0px 0px 40px;
    background-color: rgba(255, 245, 245, 0.201);
    backdrop-filter: blur(7px); /* Aplica o efeito de desfoque */
    color: #000000;
    height: 35%;
}



