/* base do projeto */
:root{
    --cor1: #fff;
    --cor2: #808080;
    --preto: #000000;
    --azulqnemaisazul: #303030; 
    --brancobranco: #fff;
}
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../img/background10.jpg");
    background-size: cover;
    font-family: 'Baloo Tammudu 2', cursive;
}

/* textos */
h1{
    color: var(--cor1);
    font-size: 28px;
    line-height:0;
    padding: -50;
    margin-bottom: -5;
}
p {
    color: var(--cor1);
    font-size: 13px;
}
.title{
    color: var(--cor2);
    font-size: 25;
    padding: -50;
    margin-bottom: 0;
    line-height: 0;
    margin: 15px 0px;
}
.descrição{
    color: var(--preto);
    font-size: 13px;
    line-height: 1;
    margin-top: 0;
}

/* container e conteúdos */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100hv;
}
.content{
    border-radius: 15px;
    background-color: var(--cor1);
    width: 70%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: var(--azulqnemaisazul) 1px 1px 3px;
    margin: 70px;
}
.content::before{
    content: "";
    position: absolute;
    background-color: var(--azulqnemaisazul);
    width: 44%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left:0%;
}
.conteúdo1{
    display: flex;
}
.conteúdo2{
    display: flex;
    position:absolute;
}
.conteúdo1 .coluna2{
    z-index: 110;
}
.conteúdo2 .coluna1{
    order: 2;
    z-index:-1;
}
.conteúdo2 .coluna2 {
    order: 1;
    z-index: -1;
}
.coluna1{
    text-align: center;
    width: 44%;
    z-index: 100;
}
.coluna2 {
    text-align: center;
    width: 56%;
    align-content: center;
    margin-top: 50;
    margin-bottom: 40;
}
/* inputs */
.informações {
    display:flex;
    flex-direction:column;
}
.preenchimentoinfo{
    padding: 0px 0px;
}
.preenchimentoinfo > input {
    height: 35px;
    border: none;
    background-color: var(--cor1);
    width: 100%; 
    font-size: 10px;
}
.preenchimentoinfo label{
    background-color: var(--cor1);
    align-items: center;
    display: inline-flex;
    margin: 4px;
    width: 56%;
}
.icon-modify{
    color:var(--cor2);
    padding: 0 10px;
    align-content: center;
    align-items: center;    
}

/* botões */
.preenchimento > button {
   border-radius: 15px;
   font-size:11px;
   font-weight: bold;
   text-transform: uppercase;
   color: var(--cor1);
   padding: 5px 19px;
   background-color: transparent;
   cursor:pointer;
   border: 1px solid var(--cor1);
}
.preenchimento > button:hover {
    background-color: var(--cor1);
    color:var(--azulqnemaisazul);
    transition: 0.8s;
    cursor: pointer;
}
.preenchimento2 > button {
    border-radius: 15px;
    font-size:10px;
    font-weight: bold;
    text-transform: uppercase;
    color:var(--azulqnemaisazul);
    padding: 5px 19px;
    background-color: transparent;
    align-self: center;
    border: 1px solid var(--azulqnemaisazul);
    cursor: pointer;
}
 .preenchimento2 > button:hover {
     background-color: var(--azulqnemaisazul);
     color: var(--cor1);
     transition: 0.8s;
     cursor: pointer;
 }

.container2{
    width: 100%;
    height: 100vh;
    padding: 0% 8%;
    position: relative;
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.cart-icon{
    width: 30px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
    padding-right: 30px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    color: var(--brancobranco);
    text-decoration: none;
    position: relative;
}
/*Animação navbar*/
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--brancobranco);
    transition: width 0.3s;
}
nav ul li a:hover::after{
    width: 70%;
}