/* base do projeto */

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../img/background10.jpg");
    background-size: cover;
    font-family: 'Baloo Tammudu 2', cursive;
}



/* entrar e cadastrar */


.sign-in-js .conteúdo1 .coluna1, .sign-in-js .conteúdo1 .coluna2{
    z-index: -1;
}

.sign-in-js .conteúdo2 .coluna1{
    z-index: 140;
}

.sign-in-js .conteúdo2 .coluna2{
    z-index: 120;
}

.sign-in-js .content::before{
    left:56%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    animation: slidein 2.5s;

    z-index: 130;
}

.sign-up-js .content::before {
    animation: slideout 2.5s;
    
    z-index: 130;
}


.sign-up-js .conteúdo2 .coluna1, .sign-up-js .conteúdo2 .coluna2 {
    z-index: -1;
}

.sign-up-js .conteúdo1 .coluna1{
    z-index: 140;
}

.sign-up-js .conteúdo1 .coluna2{
    z-index: 120;
}




/* textos */




h1{
    color: whitesmoke;
    font-size: 28px;
    line-height:0;
    padding: -50;
    margin-bottom: -5;
}

p {
    color: whitesmoke;
    font-size: 13px;
}



.title{
    color: #58af9b;
    font-size: 25;
    padding: -50;
    margin-bottom: 0;
    line-height: 0;
}

.descrição{
    color: black;
    font-size: 13px;
    line-height: 1;
    margin-top: 0;
}





/* container e conteúdos */


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100hv;
}

.content{
    border-radius: 15px;
    background-color: whitesmoke;
    width: 70%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: #39777b 1px 1px 3px;
   margin: 70px;
}




.content::before{
    content: "";
    position: absolute;
    background-color: #58af9b;
    width: 44%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left:0%;
}




.conteúdo1{
    display: flex;
}

.conteúdo2{
    display: flex;
    position:absolute;
}


.conteúdo1 .coluna2{
    z-index: 110;
}



.conteúdo2 .coluna1{
    order: 2;
    z-index:-1;
}

.conteúdo2 .coluna2 {
    order: 1;
    z-index: -1;
}




.coluna1{
    text-align: center;
    width: 44%;
    z-index: 100;
}

.coluna2 {
    text-align: center;
    width: 56%;
    align-content: center;
    margin-top: 50;
    margin-bottom: 40;
}
/* inputs */
.informações {
    display:flex;
    flex-direction:column;
}
.preenchimentoinfo > input {
    height: 35px;
    border: none;
    background-color: #ecf0f1;
    width: 100%; 
    font-size: 10px;
}
.preenchimentoinfo label{
    background-color: #ecf0f1;
    align-items: center;
    display: inline-flex;
    margin: 4px;
    width: 56%;
}
.icon-modify{
    color:#7f8c8d;
    padding: 0 10px;
    align-content: center;
    align-items: center;
    
}




/* botões */


.preenchimento > button {
   border-radius: 15px;
   font-size:11px;
   font-weight: bold;
   text-transform: uppercase;
   color: whitesmoke;
   padding: 5px 19px;
   background-color: transparent;
   cursor:pointer;
   border: 1px solid whitesmoke;
}


.preenchimento > button:hover {
    background-color: whitesmoke;
    color:#58af9b;
    transition: 0.8s;
    cursor: pointer;
}


.preenchimento2 > button {
    border-radius: 15px;
    font-size:10px;
    font-weight: bold;
    text-transform: uppercase;
    color:#58af9b;
    padding: 5px 19px;
    background-color: transparent;
    align-self: center;
    border: 1px solid #58af9b;
    cursor: pointer;
 }
 
 
 .preenchimento2 > button:hover {
     background-color: #58af9b;
     color:whitesmoke;
     transition: 0.8s;
     cursor: pointer;
 }


/* checkbox lembrar senha */



 .containerswitch{
    margin: 0;
    font-family: 'Baloo Tammudu 2', cursive;
}


.switch{
    line-height: 0;
}
.switch, .switch2{
    display: inline-block;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.switch .switch-wrapper, .switch2 .switch-wrapper2 {
    display: inline-block;
    top: 7;
    width: 21px;
    height: 11px;
    position: relative;
}
.switch .switch-wrapper .switch-button, .switch2 .switch-wrapper2 .switch-button2{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    background-color: #475569;
}
.switch .switch-wrapper input, .switch2 .switch-wrapper2 input{
    opacity: 0;
}
.switch .switch-wrapper .switch-button::before, .switch2 .switch-wrapper2 .switch-button2::before{
    content: "" ;
    width: 10px;
    height: 11px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-radius: 50%;
    transition: 0.1s all ease;
    background-color: rgb(245, 245, 245);
}
.switch .switch-wrapper input:checked + .switch-button, .switch2 .switch-wrapper2 input:checked + .switch-button2{
    background-color: #58A721;
}
.switch .switch-wrapper input:checked + .switch-button::before, .switch2 .switch-wrapper2 input:checked + .switch-button2::before{
    transform: translateX(11px);
}



.switch-text, .switch-text2{
    font-size: 11px;
    font-family: 'Baloo Tammudu 2', cursive;
    margin-left: 3;
    margin-right:0
}


/* animação do before */

@keyframes slidein {

    0% {
        left: 0%;
        width: 44%;
    }

    25% {
        left: 5%;
        width: 40%;
    }

    50% {
        left: 25%;
        width: 60%;
    }

    75% {
        left:45%;
        width: 40%;
    }

    100% {
        left: 56%;
        width: 44%; 
    }
}




@keyframes slideout {

    from {
       left: 56%;
        width: 44% 
    }

    25% {
        left: 45%;
        width: 40%;
    }

    50% {
        left: 25%;
        width: 60%;
    }

    75% {
        left:5%;
        width: 40%;
    }

    to {
        left: 0%;
        width: 44%; 
    }
}




/* animção de conteúdo */
.sign-in-js .conteúdo1 .coluna2 {
    z-index: 120;
    position: relative;
    animation: deslocamento 2.5s;
}

@keyframes deslocamento {

    0% {
        left:0;
        opacity: 1;
    }

    25% {
        left: -80px;
        opacity: .5;
    }

    50% {
        left: 100px;
        opacity: .2;
    }

    100% {
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
}